body {
    padding-top: 50px;
    padding-bottom: 20px; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Profile */
.musiq-container {
    margin-top: 30px;
}

.btn-margin {
    margin-left: 2px;
    margin-right: 2px;
}

/* Responsive Media Queries */
.portrait-only {
    display: none;
}

@media only screen and ( max-width: 768px ) {

    .mobile-hide {
        display: none;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .portrait-hide {
        display: none;
    }

    .portrait-only {
        display: block;
    }

    .portrait-bold {
        font-weight: bold;
    }

    .album-artwork {
        max-width: 40px;
    }


    #table-artwork {
        width: 20%;
        min-width: 40px;
    }

    #table-song {
        width: 80%;
    }
}

/*Login Page**/
.home-title{
    font-family: 'Exo', sans-serif;
    color:white;
    font-size:8em;
    text-decoration:none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#login {
    width:25%;
   margin: 0 auto;
}
.fieldset-login{
    margin-bottom: 1em;
    margin-top: 1em;
}
.site-font{
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 300;
}
.form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 6px 12px;
    font-size: 1.35em;
    line-height: 1;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left:auto;
    margin-right:auto;
}
.margintop{
    margin-top:3em;
}
.login-btn{
    width:100%;
    min-width: 196px;
    background-color: rgb(81, 199, 209);
    color: white;
    height: 50px;
    border-style: none;
    border-radius: .2em;
    font-size: 1.35em;
}
.login-width{
    min-width: 196px;
}
#login_page{
    background-color: rgb(207, 207, 207);
}
