
<div class="musiq-container">
    <div class="row">
        <div class="pull-right">
            <input class="form-control" ng-model=search.SongTitle">
            <a class="btn btn-primary btn-margin mobile-hide" data-toggle="modal" href="#profileModal" id="uploadButton">
                <span class="glyphicon glyphicon-music"></span>
                Upload Music
            </a>
            <a class="btn btn-primary btn-margin portrait-hide" data-toggle="modal" href="#createPlaylistModal">
                <span class="glyphicon glyphicon-plus"></span>
                Create Playlist
            </a>
        </div>
    </div>
    <div class="row" id="table">
        @Html.Partial("_MusicPartial")
    </div>
</div>