
<div class="musiq-container">
    <div class="pull-right" style="width: 50%">
        <input ng-model="search">
        <a class="btn btn-primary btn-margin pull-right mobile-hide" data-toggle="modal" href="#profileModal" id="uploadButton">
            <span class="glyphicon glyphicon-music"></span>
            Upload Music
        </a>
        <a class="btn btn-primary btn-margin pull-right portrait-hide" data-toggle="modal" href="#createPlaylistModal">
            <span class="glyphicon glyphicon-plus"></span>
            Create Playlist
        </a>
    </div>
    <div class="row">
        @Html.Partial("_MusicPartial")
    </div>
</div>